In [1]:
# import libraries
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("../../Sources/athletes.csv", sep="|")
df

,id,name,nationality,sex,date_of_birth,height,weight,sport,gold,silver,bronze,info
0,736041664,A Jesus Garcia,ESP,male,1969-10-17,1.72,64.0,athletics,0.0,0.0,0.0,NaN
1,532037425,A Lam Shin,KOR,female,1986-09-23,1.68,56.0,fencing,0.0,0.0,0.0,NaN
2,435962603,Aaron Brown,CAN,male,1992-05-27,1.98,79.0,athletics,0.0,0.0,1.0,NaN
3,521041435,Aaron Cook,MDA,male,1991-01-02,1.83,80.0,taekwondo,0.0,0.0,0.0,NaN
4,33922579,Aaron Gate,NZL,male,1990-11-26,1.81,71.0,cycling,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11533,265605954,Zurian Hechavarria,CUB,female,1995-08-10,1.64,58.0,athletics,0.0,0.0,0.0,NaN
11534,214461847,Zuzana Hejnova,CZE,female,1986-12-19,1.73,63.0,athletics,0.0,0.0,0.0,NaN
11535,88361042,di Xiao,CHN,male,1991-05-14,1.85,100.0,wrestling,0.0,0.0,0.0,NaN
11536,900065925,le Quoc Toan Tran,VIE,male,1989-04-05,1.60,56.0,weightlifting,0.0,0.0,0.0,NaN
11537,711404576,le Roux Hamman,RSA,male,1992-01-06,1.85,70.0,athletics,0.0,0.0,0.0,NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11538 entries, 0 to 11537
Data columns (total 12 columns):
id               11538 non-null object
name             11406 non-null object
nationality      11406 non-null object
sex              11406 non-null object
date_of_birth    11406 non-null object
height           11077 non-null float64
weight           10755 non-null float64
sport            11406 non-null object
gold             11406 non-null float64
silver           11406 non-null float64
bronze           11406 non-null float64
info             0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ MB

In [22]:
df = df.drop('info', axis= 1)

In [68]:
# Make a list of all competitors of cycling and athletics
new_list =[]
for athlete in range(len(df)):
    if (df['sport'][athlete] == 'cycling')| (df['sport'][athlete] == 'athletics'):
        new_list.append([df['id'][athlete], df['name'][athlete],df['nationality'][athlete],
                         df['sex'][athlete],df['date_of_birth'][athlete],df['height'][athlete],df['weight'][athlete],
                        df['sport'][athlete],df['gold'][athlete],df['silver'][athlete],df['bronze'][athlete]])
        
new_list

[['736041664',
  'A Jesus Garcia',
  'ESP',
  'male',
  '1969-10-17',
  1.72,
  64.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['435962603',
  'Aaron Brown',
  'CAN',
  'male',
  '1992-05-27',
  1.98,
  79.0,
  'athletics',
  0.0,
  0.0,
  1.0],
 ['33922579',
  'Aaron Gate',
  'NZL',
  'male',
  '1990-11-26',
  1.81,
  71.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['87689776',
  'Aauri Lorena Bokesa',
  'ESP',
  'female',
  '1988-12-14',
  1.8,
  62.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['997877719',
  'Ababel Yeshaneh',
  'ETH',
  'female',
  '1991-07-22',
  1.65,
  54.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['343694681',
  'Abadi Hadis',
  'ETH',
  'male',
  '1997-11-06',
  1.7,
  63.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['591319906',
  'Abbas Abubakar Abbas',
  'BRN',
  'male',
  '1996-05-17',
  1.75,
  66.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['376068084',
  "Abbey D'Agostino",
  'USA',
  'female',
  '1992-05-25',
  1.61,
  49.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['215053268',
  'Abdalaati Iguider',
  'MAR',
  'male',
  '1987-03-25',
  1.73,
  57.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['763711985',
  'Abdalelah Haroun',
  'QAT',
  'male',
  '1997-01-01',
  1.85,
  80.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['924593601',
  'Abdalla Targan',
  'SUD',
  'male',
  '1996-09-28',
  1.77,
  65.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['890222258',
  'Abdelati El Guesse',
  'MAR',
  'male',
  '1993-02-27',
  1.9,
  72.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['803161695',
  'Abdelaziz Merzougui',
  'ESP',
  'male',
  '1991-08-30',
  1.75,
  67.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['517007712',
  'Abdelmajid El Hissouf',
  'MAR',
  'male',
  '1992-09-23',
  1.7,
  56.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['512730813',
  'Abdelmalik Lahoulou',
  'ALG',
  'male',
  '1992-05-07',
  1.77,
  72.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['285603057',
  'Abderrahmane Mansouri',
  'ALG',
  'male',
  '1995-01-13',
  1.72,
  66.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['64529046',
  'Abdi Hakin Ulad',
  'DEN',
  'male',
  '1991-06-14',
  1.75,
  57.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['917755766',
  'Abdi Nageeye',
  'NED',
  'male',
  '1989-03-02',
  1.65,
  54.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['184980926',
  'Abdi Waiss Mouhyadin',
  'DJI',
  'male',
  '1996-07-03',
  1.6,
  60.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['469953606',
  'Abdoullah Bamoussa',
  'ITA',
  'male',
  '1986-06-08',
  nan,
  nan,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['152408417',
  'Abdul Wahab Zahiri',
  'AFG',
  'male',
  '1992-05-27',
  1.75,
  68.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['5763609',
  'Abdullah Abkar Mohammed',
  'KSA',
  'male',
  '1997-01-01',
  1.72,
  73.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['78813419',
  'Abraham Kipchirchir Rotich',
  'BRN',
  'male',
  '1993-09-26',
  1.83,
  65.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['555457991',
  'Abraham Naibei Cheroben',
  'BRN',
  'male',
  '1992-10-11',
  1.76,
  60.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['877850429',
  'Abraham Niyonkuru',
  'BDI',
  'male',
  '1989-12-26',
  1.62,
  52.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['369092977',
  'Abrar Osman',
  'ERI',
  'male',
  '1994-01-01',
  1.68,
  58.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['602585498',
  'Abubaker Haydar Abdalla',
  'QAT',
  'male',
  '1996-08-28',
  1.8,
  60.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['487206822',
  'Adam Gemili',
  'GBR',
  'male',
  '1993-10-06',
  1.78,
  75.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['682367963',
  'Adam Kszczot',
  'POL',
  'male',
  '1989-09-02',
  1.78,
  68.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['785166259',
  'Adam Sebastian Helcelet',
  'CZE',
  'male',
  '1991-10-27',
  1.9,
  92.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['184652432',
  'Adam Yates',
  'GBR',
  'male',
  '1992-08-07',
  1.72,
  58.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['222063859',
  'Adama Jammeh',
  'GAM',
  'male',
  '1993-06-10',
  nan,
  nan,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['302277635',
  'Adel Mechaal',
  'ESP',
  'male',
  '1990-12-05',
  1.82,
  71.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['518639420',
  'Adelina Pastor',
  'ROU',
  'female',
  '1993-05-05',
  1.68,
  56.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['941631433',
  'Adrian Blocki',
  'POL',
  'male',
  '1990-04-11',
  1.74,
  62.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['839462979',
  'Adrian Chacon',
  'CUB',
  'male',
  '1988-12-10',
  1.87,
  90.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['653186701',
  'Adrian Griffith',
  'BAH',
  'male',
  '1984-11-11',
  1.78,
  75.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['80367651',
  'Adriana Aparecida da Silva',
  'BRA',
  'female',
  '1981-07-22',
  1.66,
  52.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['664737236',
  'Adrien Niyonshuti',
  'RWA',
  'male',
  '1987-01-02',
  1.65,
  68.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['577601340',
  'Afa Ismail',
  'MDV',
  'female',
  '1993-11-01',
  nan,
  nan,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['42409524',
  'Agata Forkasiewicz',
  'POL',
  'female',
  '1994-01-13',
  1.68,
  54.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['23462736',
  'Ageze Guadie',
  'ISR',
  'male',
  '1989-09-11',
  1.75,
  56.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['810258362',
  'Agnes Osazuwa',
  'NGR',
  'female',
  '1989-11-26',
  1.62,
  65.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['107504792',
  'Agnes Raharolahy',
  'FRA',
  'female',
  '1992-11-07',
  1.67,
  58.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['320335499',
  'Agnese Pastare',
  'LAT',
  'female',
  '1988-10-27',
  1.79,
  68.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['726686017',
  'Agnieszka Dygacz',
  'POL',
  'female',
  '1985-07-18',
  1.6,
  47.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['983479171',
  'Agnieszka Szwarnog',
  'POL',
  'female',
  '1986-12-28',
  1.65,
  51.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['684631479',
  'Ahmad Hazer',
  'LIB',
  'male',
  '1989-09-04',
  1.88,
  80.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['862822782',
  'Ahmed Ali',
  'SUD',
  'male',
  '1993-11-15',
  1.73,
  75.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['180751684',
  'Ahmed Bader Magour',
  'QAT',
  'male',
  '1996-03-03',
  1.9,
  90.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['696999235',
  'Ahmet Orken',
  'TUR',
  'male',
  '1993-03-12',
  1.77,
  69.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['47988332',
  'Ahreum Na',
  'KOR',
  'female',
  '1990-03-24',
  1.63,
  55.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['138385356',
  'Ahymara Espinoza',
  'VEN',
  'female',
  '1985-05-28',
  1.8,
  99.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['965051843',
  'Airine Palsyte',
  'LTU',
  'female',
  '1992-07-13',
  1.87,
  63.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['704825548',
  'Aisha Praught',
  'JAM',
  'female',
  '1989-12-14',
  1.62,
  50.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['234338084',
  'Ajee Wilson',
  'USA',
  'female',
  '1994-05-08',
  1.73,
  61.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['374861025',
  'Ajla del Ponte',
  'SUI',
  'female',
  '1996-07-15',
  1.68,
  56.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['265984930',
  'Akani Simbine',
  'RSA',
  'male',
  '1993-09-21',
  1.76,
  74.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['769580282',
  'Akeem Haynes',
  'CAN',
  'male',
  '1992-03-11',
  1.68,
  71.0,
  'athletics',
  0.0,
  0.0,
  1.0],
 ['194243947',
  'Akela Jones',
  'BAR',
  'female',
  '1995-04-22',
  1.86,
  77.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['327133724',
  'Akihiko Nakamura',
  'JPN',
  'male',
  '1990-10-23',
  1.8,
  73.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['152032519',
  'Akua Obeng-Akrofi',
  'GHA',
  'female',
  '1996-07-10',
  nan,
  nan,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['275659106',
  'Alan Hatherly',
  'RSA',
  'male',
  '1996-03-15',
  1.78,
  62.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['68100583',
  'Alana Barber',
  'NZL',
  'female',
  '1987-07-08',
  1.63,
  52.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['662496867',
  'Alana Boyd',
  'AUS',
  'female',
  '1984-05-10',
  1.71,
  59.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['172435291',
  'Albert Kibichii Rop',
  'BRN',
  'male',
  '1992-07-17',
  1.77,
  63.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['635016740',
  'Alberth Bravo',
  'VEN',
  'male',
  '1987-08-29',
  1.99,
  88.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['804217525',
  'Alberto Alvarez',
  'MEX',
  'male',
  '1991-03-08',
  1.91,
  78.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['74286490',
  'Aldemir da Silva Junior',
  'BRA',
  'male',
  '1992-06-08',
  1.93,
  80.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['210525666',
  'Aleixo-Platini Menga',
  'GER',
  'male',
  '1987-09-29',
  1.82,
  82.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['151538357',
  'Alejandra Ortega',
  'MEX',
  'female',
  '1994-07-08',
  1.65,
  57.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['813391088',
  'Alejandro Valverde Belmonte',
  'ESP',
  'male',
  '1980-04-25',
  1.77,
  63.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['832551080',
  'Aleksandra Romanova',
  'KAZ',
  'female',
  '1990-12-26',
  1.68,
  58.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['646633611',
  'Aleksei Kurbatov',
  'RUS',
  'male',
  '1994-05-09',
  nan,
  nan,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['285964258',
  'Aleksejs Saramotins',
  'LAT',
  'male',
  '1982-04-08',
  1.85,
  75.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['191984367',
  'Aleksi Ojala',
  'FIN',
  'male',
  '1992-12-09',
  1.8,
  62.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['462274321',
  'Alemu Bekele',
  'BRN',
  'male',
  '1990-03-23',
  1.62,
  59.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['871020123',
  'Alena Abramchuk',
  'BLR',
  'female',
  '1988-02-14',
  1.82,
  95.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['603507285',
  'Alena Amialiusik',
  'BLR',
  'female',
  '1989-02-06',
  1.69,
  52.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['30712954',
  'Alena Sobaleva',
  'BLR',
  'female',
  '1993-05-11',
  1.78,
  87.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['779596907',
  'Alessandra Aguilar',
  'ESP',
  'female',
  '1978-07-01',
  1.65,
  50.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['630246233',
  'Alessandro De Marchi',
  'ITA',
  'male',
  '1986-05-19',
  1.81,
  66.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['389711690',
  'Alessia Trost',
  'ITA',
  'female',
  '1993-03-08',
  1.88,
  70.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['527236860',
  'Alex Amankwah',
  'GHA',
  'male',
  '1992-03-02',
  nan,
  nan,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['24122998',
  'Alex Beddoes',
  'COK',
  'male',
  '1995-07-09',
  1.81,
  74.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['107240268',
  'Alex Rose',
  'SAM',
  'male',
  '1991-11-17',
  nan,
  nan,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['636907352',
  'Alex Wright',
  'IRL',
  'male',
  '1990-12-19',
  1.75,
  62.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['737791847',
  'Alexander Edmondson',
  'AUS',
  'male',
  '1993-12-22',
  1.84,
  76.0,
  'cycling',
  0.0,
  1.0,
  0.0],
 ['100528515',
  'Alexander Gehbauer',
  'AUT',
  'male',
  '1990-04-24',
  1.85,
  70.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['515896035',
  'Alexander Hartmann',
  'AUS',
  'male',
  '1993-03-07',
  1.98,
  91.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['604407494',
  'Alexander John',
  'GER',
  'male',
  '1986-05-03',
  1.85,
  84.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['41863727',
  'Alexander Kosenkow',
  'GER',
  'male',
  '1977-03-14',
  1.78,
  74.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['37893138',
  'Alexander Lerionka Sampao',
  'KEN',
  'male',
  '1996-12-31',
  nan,
  67.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['658069337',
  'Alexander Russo',
  'BRA',
  'male',
  '1994-07-26',
  1.73,
  61.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['878621949',
  'Alexandra Burghardt',
  'GER',
  'female',
  '1994-04-28',
  1.81,
  70.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['692519892',
  'Alexandra Tavernier',
  'FRA',
  'female',
  '1993-12-13',
  1.7,
  82.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['872947130',
  'Alexandra Wester',
  'GER',
  'female',
  '1994-03-21',
  1.8,
  64.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['809372786',
  'Alexandros Papamichail',
  'GRE',
  'male',
  '1988-09-18',
  1.78,
  63.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['448880966',
  'Alexi Pappas',
  'GRE',
  'female',
  '1990-03-28',
  nan,
  nan,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['194257222',
  'Alexis Vuillermoz',
  'FRA',
  'male',
  '1988-06-01',
  1.73,
  60.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['475919800',
  'Alfred Kipketer',
  'KEN',
  'male',
  '1996-12-28',
  1.67,
  60.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['450635887',
  'Alfredo Campo',
  'ECU',
  'male',
  '1993-03-02',
  1.92,
  90.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['670890480',
  'Ali Kaya',
  'TUR',
  'male',
  '1994-04-20',
  1.75,
  54.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['702507964',
  'Ali Khamis Khamis',
  'BRN',
  'male',
  '1995-06-30',
  1.82,
  70.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['716391442',
  'Ali Messaoudi',
  'ALG',
  'male',
  '1995-10-13',
  1.78,
  63.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['768503351',
  'Ali Nouisri',
  'TUN',
  'male',
  '1994-01-20',
  1.84,
  75.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['432850961',
  'Alia Saeed Mohammed',
  'UAE',
  'female',
  '1993-11-13',
  1.58,
  54.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['564017885',
  'Aliaksandr Liakhovich',
  'BLR',
  'male',
  '1989-07-04',
  1.72,
  65.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['198660870',
  'Alice Aprot Nawowuna',
  'KEN',
  'female',
  '1994-01-02',
  1.52,
  54.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['537043954',
  'Alicia Brown',
  'CAN',
  'female',
  '1990-01-21',
  1.65,
  57.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['146849551',
  'Alina Armas',
  'NAM',
  'female',
  '1983-12-10',
  1.66,
  53.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['9436047',
  'Alina Fodorova',
  'UKR',
  'female',
  '1989-07-31',
  1.75,
  65.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['26321098',
  'Alina Logvynenko',
  'UKR',
  'female',
  '1990-07-18',
  1.8,
  67.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['564738938',
  'Alina Rotaru',
  'ROU',
  'female',
  '1993-06-05',
  1.75,
  57.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['137031539',
  'Alina Talay',
  'BLR',
  'female',
  '1989-05-14',
  1.64,
  57.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['833092832',
  'Aliona Dubitskaya',
  'BLR',
  'female',
  '1990-01-25',
  1.8,
  76.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['269057885',
  'Alise Post',
  'USA',
  'female',
  '1991-01-17',
  1.58,
  56.0,
  'cycling',
  0.0,
  1.0,
  0.0],
 ['340019479',
  'Aliyah Abrams',
  'GUY',
  'female',
  '1997-04-03',
  1.63,
  53.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['373002185',
  'Allison Beveridge',
  'CAN',
  'female',
  '1993-06-01',
  1.69,
  62.0,
  'cycling',
  0.0,
  0.0,
  1.0],
 ['881130710',
  'Allistar Clarke',
  'SKN',
  'male',
  '1990-10-03',
  1.87,
  71.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['9410967',
  'Almaz Ayana',
  'ETH',
  'female',
  '1991-11-21',
  1.66,
  47.0,
  'athletics',
  1.0,
  0.0,
  1.0],
 ['506696121',
  'Alonso Edward',
  'PAN',
  'male',
  '1989-12-08',
  1.81,
  76.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['791528062',
  'Alonzo Russell',
  'BAH',
  'male',
  '1992-02-08',
  nan,
  nan,
  'athletics',
  0.0,
  0.0,
  1.0],
 ['860469603',
  'Alphas Leken Kishoyian',
  'KEN',
  'male',
  '1994-01-01',
  1.67,
  59.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['601227072',
  'Alphonce Felix Simbu',
  'TAN',
  'male',
  '1992-02-14',
  nan,
  55.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['46528538',
  'Altobeli da Silva',
  'BRA',
  'male',
  '1990-12-03',
  1.81,
  60.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['407705493',
  'Alvaro Martin',
  'ESP',
  'male',
  '1994-06-18',
  1.79,
  63.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['349070925',
  'Alvaro de Arriba',
  'ESP',
  'male',
  '1994-06-02',
  1.77,
  69.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['362885756',
  'Alyn Camara',
  'GER',
  'male',
  '1989-03-31',
  1.96,
  84.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['317210453',
  'Alysbeth Felix',
  'PUR',
  'female',
  '1993-03-07',
  1.71,
  59.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['746918674',
  'Alysha Newman',
  'CAN',
  'female',
  '1994-06-29',
  1.72,
  67.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['299325832',
  'Alyson Dixon',
  'GBR',
  'female',
  '1978-09-24',
  1.55,
  43.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['479973349',
  'Alyssa Conley',
  'RSA',
  'female',
  '1991-04-27',
  1.76,
  63.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['431586792',
  'Alyxandria Treasure',
  'CAN',
  'female',
  '1992-05-15',
  1.55,
  68.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['312519582',
  'Amadou Ndiaye',
  'SEN',
  'male',
  '1992-12-06',
  1.8,
  80.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['595234401',
  'Amaka Ogoegbunam',
  'NGR',
  'female',
  '1990-03-03',
  1.64,
  61.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['605176733',
  'Amalie Dideriksen',
  'DEN',
  'female',
  '1996-05-24',
  1.75,
  62.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['398682051',
  'Amalie Iuel',
  'NOR',
  'female',
  '1994-04-17',
  nan,
  nan,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['424274474',
  'Amaliya Sharoyan',
  'ARM',
  'female',
  '1988-06-19',
  1.7,
  56.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['684370128',
  'Aman Wote',
  'ETH',
  'male',
  '1984-04-18',
  1.83,
  68.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['574915810',
  'Amanda Carr',
  'THA',
  'female',
  '1990-06-24',
  1.65,
  60.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['340529563',
  'Amanda Spratt',
  'AUS',
  'female',
  '1987-09-17',
  1.61,
  55.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['994010453',
  'Amanmurad Hommadov',
  'TKM',
  'male',
  '1989-01-28',
  1.9,
  117.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['40874614',
  'Amanuel Mesel',
  'ERI',
  'male',
  '1990-12-29',
  1.77,
  59.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['235304532',
  'Amber Campbell',
  'USA',
  'female',
  '1981-06-05',
  1.71,
  90.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['193520300',
  'Ambroise Uwiragiye',
  'RWA',
  'male',
  '1980-12-31',
  nan,
  nan,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['147471231',
  'Ameer Webb',
  'USA',
  'male',
  '1991-03-19',
  1.81,
  82.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['250216413',
  'Amel Tuka',
  'BIH',
  'male',
  '1991-01-09',
  1.87,
  77.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['577293191',
  'Amela Terzic',
  'SRB',
  'female',
  '1993-01-02',
  1.69,
  54.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['607523494',
  'Amidou Mir',
  'FRA',
  'male',
  '1995-01-01',
  1.73,
  78.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['811727068',
  'Amina Bettiche',
  'ALG',
  'female',
  '1987-12-14',
  1.65,
  55.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['121680559',
  'Amine Belferar',
  'ALG',
  'male',
  '1991-02-16',
  1.75,
  65.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['740490618',
  'Amna Bakhit',
  'SUD',
  'female',
  '1990-11-14',
  1.75,
  59.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['761085260',
  'Amor Ben Yahia',
  'TUN',
  'male',
  '1985-07-01',
  1.76,
  63.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['318291811',
  'Amy Cragg',
  'USA',
  'female',
  '1984-01-21',
  1.63,
  45.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['872045656',
  'Amy Cure',
  'AUS',
  'female',
  '1992-12-31',
  1.72,
  63.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['5024454',
  'Amy Sene',
  'SEN',
  'female',
  '1986-04-06',
  1.75,
  80.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['491417402',
  'An-Li Kachelhoffer',
  'RSA',
  'female',
  '1987-08-16',
  1.6,
  50.0,
  'cycling',
  0.0,
  0.0,
  0.0],
 ['914515820',
  'Ana Cabecinha',
  'POR',
  'female',
  '1984-04-29',
  1.63,
  48.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['714771450',
  'Ana Claudia Silva',
  'BRA',
  'female',
  '1988-11-06',
  1.58,
  56.0,
  'athletics',
  0.0,
  0.0,
  0.0],
 ['196047650',
  'Ana Dulce Felix',
  'POR',
  'female',
  '1982-10-23',
  1.66,
  53.0,
  'athletics',
  0.0,
  0.0,
  0.0],

In [69]:
# make dataframa again
# column names , df.columns
columns = ['id', 'name', 'nationality', 'sex', 'date_of_birth', 'height', 'weight',
       'sport', 'gold', 'silver', 'bronze']

# create df
athletics_and_cycling = pd.DataFrame(new_list, columns= columns)
athletics_and_cycling

,id,name,nationality,sex,date_of_birth,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,1969-10-17,1.72,64.0,athletics,0.0,0.0,0.0
1,435962603,Aaron Brown,CAN,male,1992-05-27,1.98,79.0,athletics,0.0,0.0,1.0
2,33922579,Aaron Gate,NZL,male,1990-11-26,1.81,71.0,cycling,0.0,0.0,0.0
3,87689776,Aauri Lorena Bokesa,ESP,female,1988-12-14,1.80,62.0,athletics,0.0,0.0,0.0
4,997877719,Ababel Yeshaneh,ETH,female,1991-07-22,1.65,54.0,athletics,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2863,724419150,Zouhair Aouad,BRN,male,1989-04-07,1.75,69.0,athletics,0.0,0.0,0.0
2864,999437858,Zsofia Erdelyi,HUN,female,1987-12-10,1.64,53.0,athletics,0.0,0.0,0.0
2865,265605954,Zurian Hechavarria,CUB,female,1995-08-10,1.64,58.0,athletics,0.0,0.0,0.0
2866,214461847,Zuzana Hejnova,CZE,female,1986-12-19,1.73,63.0,athletics,0.0,0.0,0.0
2867,711404576,le Roux Hamman,RSA,male,1992-01-06,1.85,70.0,athletics,0.0,0.0,0.0

In [70]:
# data cleaning
athletics_and_cycling.columns

Index(['id', 'name', 'nationality', 'sex', 'date_of_birth', 'height', 'weight',
       'sport', 'gold', 'silver', 'bronze'],
      dtype='object')

In [71]:
# data cleaning
athletics_and_cycling.reset_index(drop=True, inplace=True)
athletics_and_cycling

,id,name,nationality,sex,date_of_birth,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,1969-10-17,1.72,64.0,athletics,0.0,0.0,0.0
1,435962603,Aaron Brown,CAN,male,1992-05-27,1.98,79.0,athletics,0.0,0.0,1.0
2,33922579,Aaron Gate,NZL,male,1990-11-26,1.81,71.0,cycling,0.0,0.0,0.0
3,87689776,Aauri Lorena Bokesa,ESP,female,1988-12-14,1.80,62.0,athletics,0.0,0.0,0.0
4,997877719,Ababel Yeshaneh,ETH,female,1991-07-22,1.65,54.0,athletics,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2863,724419150,Zouhair Aouad,BRN,male,1989-04-07,1.75,69.0,athletics,0.0,0.0,0.0
2864,999437858,Zsofia Erdelyi,HUN,female,1987-12-10,1.64,53.0,athletics,0.0,0.0,0.0
2865,265605954,Zurian Hechavarria,CUB,female,1995-08-10,1.64,58.0,athletics,0.0,0.0,0.0
2866,214461847,Zuzana Hejnova,CZE,female,1986-12-19,1.73,63.0,athletics,0.0,0.0,0.0
2867,711404576,le Roux Hamman,RSA,male,1992-01-06,1.85,70.0,athletics,0.0,0.0,0.0

In [74]:
# dataframe wiht only athletics
ath_and_cy = athletics_and_cycling.copy()
athletics = ath_and_cy.loc[ath_and_cy['sport'] == 'athletics']
athletics

,id,name,nationality,sex,date_of_birth,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,1969-10-17,1.72,64.0,athletics,0.0,0.0,0.0
1,435962603,Aaron Brown,CAN,male,1992-05-27,1.98,79.0,athletics,0.0,0.0,1.0
3,87689776,Aauri Lorena Bokesa,ESP,female,1988-12-14,1.80,62.0,athletics,0.0,0.0,0.0
4,997877719,Ababel Yeshaneh,ETH,female,1991-07-22,1.65,54.0,athletics,0.0,0.0,0.0
5,343694681,Abadi Hadis,ETH,male,1997-11-06,1.70,63.0,athletics,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2863,724419150,Zouhair Aouad,BRN,male,1989-04-07,1.75,69.0,athletics,0.0,0.0,0.0
2864,999437858,Zsofia Erdelyi,HUN,female,1987-12-10,1.64,53.0,athletics,0.0,0.0,0.0
2865,265605954,Zurian Hechavarria,CUB,female,1995-08-10,1.64,58.0,athletics,0.0,0.0,0.0
2866,214461847,Zuzana Hejnova,CZE,female,1986-12-19,1.73,63.0,athletics,0.0,0.0,0.0
2867,711404576,le Roux Hamman,RSA,male,1992-01-06,1.85,70.0,athletics,0.0,0.0,0.0

In [77]:
# missing values for height, weight 166 and 162 respectively
athletics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2355 entries, 0 to 2867
Data columns (total 11 columns):
id               2355 non-null object
name             2355 non-null object
nationality      2355 non-null object
sex              2355 non-null object
date_of_birth    2355 non-null object
height           2189 non-null float64
weight           2193 non-null float64
sport            2355 non-null object
gold             2355 non-null float64
silver           2355 non-null float64
bronze           2355 non-null float64
dtypes: float64(5), object(6)
memory usage: 220.8+ KB

In [138]:
athletics['height'].fillna(athletics['height'].mean(),inplace=True)

In [139]:
athletics['weight'].fillna(athletics['weight'].mean(),inplace=True)

In [140]:
athletics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2355 entries, 0 to 2867
Data columns (total 11 columns):
id               2355 non-null object
name             2355 non-null object
nationality      2355 non-null object
sex              2355 non-null object
date_of_birth    2355 non-null object
height           2355 non-null float64
weight           2355 non-null float64
sport            2355 non-null object
gold             2355 non-null float64
silver           2355 non-null float64
bronze           2355 non-null float64
dtypes: float64(5), object(6)
memory usage: 220.8+ KB

# Cycling

In [75]:
# dataframe with only cyclists
cycling = ath_and_cy.loc[ath_and_cy['sport'] == 'cycling']
cycling

,id,name,nationality,sex,date_of_birth,height,weight,sport,gold,silver,bronze
2,33922579,Aaron Gate,NZL,male,1990-11-26,1.81,71.0,cycling,0.0,0.0,0.0
15,285603057,Abderrahmane Mansouri,ALG,male,1995-01-13,1.72,66.0,cycling,0.0,0.0,0.0
30,184652432,Adam Yates,GBR,male,1992-08-07,1.72,58.0,cycling,0.0,0.0,0.0
38,664737236,Adrien Niyonshuti,RWA,male,1987-01-02,1.65,68.0,cycling,0.0,0.0,0.0
50,696999235,Ahmet Orken,TUR,male,1993-03-12,1.77,69.0,cycling,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2838,116013385,Yuta Wakimoto,JPN,male,1989-03-21,1.81,74.0,cycling,0.0,0.0,0.0
2842,503085577,Zac Williams,NZL,male,1995-07-21,1.80,89.0,cycling,0.0,0.0,0.0
2849,538896901,Zdenek Stybar,CZE,male,1985-12-11,1.83,72.0,cycling,0.0,0.0,0.0
2852,989437678,Zhao Juan Meng,HKG,female,1989-12-14,1.70,60.0,cycling,0.0,0.0,0.0
2853,448660080,Zhen Wang,CHN,male,1989-06-26,1.72,65.0,cycling,0.0,0.0,0.0

In [76]:
cycling.info()
# ONly missing values for height,weight of 21 and 23 respectively

<class 'pandas.core.frame.DataFrame'>
Int64Index: 513 entries, 2 to 2853
Data columns (total 11 columns):
id               513 non-null object
name             513 non-null object
nationality      513 non-null object
sex              513 non-null object
date_of_birth    513 non-null object
height           492 non-null float64
weight           490 non-null float64
sport            513 non-null object
gold             513 non-null float64
silver           513 non-null float64
bronze           513 non-null float64
dtypes: float64(5), object(6)
memory usage: 48.1+ KB

In [95]:
cycling['height'].mean()

1.7466260162601637

In [116]:
cycling.reset_index(drop=True, inplace=True)

In [122]:
cycling['height'][2]

1.72

In [135]:
cycling['weight'].fillna(cycling['weight'].mean(),inplace=True)

In [134]:
cycling['height'].fillna(cycling['height'].mean(),inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 11 columns):
id               513 non-null object
name             513 non-null object
nationality      513 non-null object
sex              513 non-null object
date_of_birth    513 non-null object
height           513 non-null float64
weight           490 non-null float64
sport            513 non-null object
gold             513 non-null float64
silver           513 non-null float64
bronze           513 non-null float64
dtypes: float64(5), object(6)
memory usage: 44.2+ KB

In [136]:
cycling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 11 columns):
id               513 non-null object
name             513 non-null object
nationality      513 non-null object
sex              513 non-null object
date_of_birth    513 non-null object
height           513 non-null float64
weight           513 non-null float64
sport            513 non-null object
gold             513 non-null float64
silver           513 non-null float64
bronze           513 non-null float64
dtypes: float64(5), object(6)
memory usage: 44.2+ KB

# Save dataframes as csv

In [137]:
# cycling.to_csv('../../Sources/ X.csv', sep=',')

cycling.to_csv('../../Sources/cyclist.csv', sep=",")

In [141]:
athletics.to_csv('../../Sources/athletics.csv', sep=",")

# Country distribution

In [144]:
athletics.groupby("nationality").sum()

             height  weight  gold  silver  bronze
nationality
AFG            3.40   123.0   0.0     0.0     0.0
ALB            3.54   131.0   0.0     0.0     0.0
ALG           26.02   948.0   0.0     2.0     0.0
AND            1.78    62.0   0.0     0.0     0.0
ANG            3.37   120.0   0.0     0.0     0.0
...             ...     ...   ...     ...     ...
VIE            3.23   100.0   0.0     0.0     0.0
VIN            3.51   120.0   0.0     0.0     0.0
YEM            1.69    61.0   0.0     0.0     0.0
ZAM            5.21   194.0   0.0     0.0     0.0
ZIM           10.08   367.0   0.0     0.0     0.0

[200 rows x 5 columns]

In [149]:
athletics.groupby("nationality").sum().sort_values("gold", ascending= False)

                 height       weight  gold  silver  bronze
nationality
USA          227.699502  9457.588691  25.0     9.0     9.0
JAM           89.613801  3686.435477   8.0    16.0     1.0
KEN           78.887602  2712.435477   5.0     6.0     1.0
CHN           96.660000  3769.000000   2.0     2.0     2.0
GER          160.610000  6600.000000   2.0     0.0     1.0
...                 ...          ...   ...     ...     ...
GUM            3.430000   120.000000   0.0     0.0     0.0
GUY            6.650000   253.000000   0.0     0.0     0.0
HAI            5.431900   306.717738   0.0     0.0     0.0
HKG            3.300000   105.000000   0.0     0.0     0.0
ZIM           10.080000   367.000000   0.0     0.0     0.0

[200 rows x 5 columns]

In [171]:
df2 = athletics.groupby("nationality").sum().sort_values("silver", ascending= False)
df2

                 height       weight  gold  silver  bronze
nationality
JAM           89.613801  3686.435477   8.0    16.0     1.0
USA          227.699502  9457.588691  25.0     9.0     9.0
KEN           78.887602  2712.435477   5.0     6.0     1.0
JPN           89.500000  3177.000000   0.0     4.0     1.0
FRA           95.290000  3624.000000   0.0     3.0     3.0
...                 ...          ...   ...     ...     ...
GUY            6.650000   253.000000   0.0     0.0     0.0
HAI            5.431900   306.717738   0.0     0.0     0.0
HKG            3.300000   105.000000   0.0     0.0     0.0
HON            1.890000    89.000000   0.0     0.0     0.0
ZIM           10.080000   367.000000   0.0     0.0     0.0

[200 rows x 5 columns]

In [172]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, JAM to ZIM
Data columns (total 5 columns):
height    200 non-null float64
weight    200 non-null float64
gold      200 non-null float64
silver    200 non-null float64
bronze    200 non-null float64
dtypes: float64(5)
memory usage: 9.4+ KB

In [176]:
df2.eval('medals = gold + silver + bronze',inplace=True)
df2

                 height       weight  gold  silver  bronze  medals
nationality
JAM           89.613801  3686.435477   8.0    16.0     1.0    25.0
USA          227.699502  9457.588691  25.0     9.0     9.0    43.0
KEN           78.887602  2712.435477   5.0     6.0     1.0    12.0
JPN           89.500000  3177.000000   0.0     4.0     1.0     5.0
FRA           95.290000  3624.000000   0.0     3.0     3.0     6.0
...                 ...          ...   ...     ...     ...     ...
GUY            6.650000   253.000000   0.0     0.0     0.0     0.0
HAI            5.431900   306.717738   0.0     0.0     0.0     0.0
HKG            3.300000   105.000000   0.0     0.0     0.0     0.0
HON            1.890000    89.000000   0.0     0.0     0.0     0.0
ZIM           10.080000   367.000000   0.0     0.0     0.0     0.0

[200 rows x 6 columns]

In [177]:
df2.to_csv('../../Sources/athletics_clean.csv', sep=",")

# cycling

In [180]:
df3 = cycling.groupby("nationality").sum().sort_values("silver", ascending= False)

In [181]:
df3.eval('medals = gold + silver + bronze',inplace=True)
df3

                height       weight  gold  silver  bronze  medals
nationality
USA          36.390000  1400.000000   2.0     6.0     0.0     8.0
AUS          51.106626  2063.755102   0.0     5.0     0.0     5.0
GBR          42.780000  1700.000000  13.0     4.0     2.0    19.0
RUS          20.623252   829.510204   0.0     3.0     1.0     4.0
NZL          35.440000  1443.000000   0.0     3.0     0.0     3.0
...                ...          ...   ...     ...     ...     ...
FIN           1.640000    58.000000   0.0     0.0     0.0     0.0
ETH           1.750000    63.000000   0.0     0.0     0.0     0.0
EST           3.630000   141.000000   0.0     0.0     0.0     0.0
ESP          20.950000   803.000000   0.0     0.0     1.0     1.0
VEN          15.400000   624.000000   0.0     0.0     1.0     1.0

[79 rows x 6 columns]

In [182]:
df3.to_csv('../../Sources/cyclist_clean.csv', sep=",")