# Extracting data (Strava)

In [1]:
# In which countries are these activities most popular?
# Gold medals

In [2]:
# Import libraries
import pandas as pd
import requests 
import numpy as np
import json
from pandas.io.json import json_normalize

1. Grouped by country

In [3]:
url = "https://www.strava.com/api/v3/segments/12274527/"

payload = {}
headers = {
  'Authorization': 'Bearer dd61746541e6ffb112ae1d578309e13a95fc104f'
}

response = requests.request("GET", url, headers=headers, data = payload)

print(response.text.encode('utf8'))

b'{"message":"Authorization Error","errors":[{"resource":"Application","field":"","code":"invalid"}]}'

In [4]:
# Clean data
results = response.json()
results

{'message': 'Authorization Error',
 'errors': [{'resource': 'Application', 'field': '', 'code': 'invalid'}]}

In [5]:
# check Paula

url = "https://www.strava.com/api/v3/segments/4106343/"
payload = {}
headers = {
  'Authorization': 'Bearer dd61746541e6ffb112ae1d578309e13a95fc104f  '
}
response = requests.request("GET", url, headers=headers, data = payload)
results = response.json()

In [6]:
results

{'message': 'Authorization Error',
 'errors': [{'resource': 'Application', 'field': '', 'code': 'invalid'}]}

# Olympic all sports

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
rio = pd.read_csv("../../Sources/athletes.csv", sep="|")
rio

,id,name,nationality,sex,date_of_birth,height,weight,sport,gold,silver,bronze,info
0,736041664,A Jesus Garcia,ESP,male,1969-10-17,1.72,64.0,athletics,0.0,0.0,0.0,NaN
1,532037425,A Lam Shin,KOR,female,1986-09-23,1.68,56.0,fencing,0.0,0.0,0.0,NaN
2,435962603,Aaron Brown,CAN,male,1992-05-27,1.98,79.0,athletics,0.0,0.0,1.0,NaN
3,521041435,Aaron Cook,MDA,male,1991-01-02,1.83,80.0,taekwondo,0.0,0.0,0.0,NaN
4,33922579,Aaron Gate,NZL,male,1990-11-26,1.81,71.0,cycling,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11533,265605954,Zurian Hechavarria,CUB,female,1995-08-10,1.64,58.0,athletics,0.0,0.0,0.0,NaN
11534,214461847,Zuzana Hejnova,CZE,female,1986-12-19,1.73,63.0,athletics,0.0,0.0,0.0,NaN
11535,88361042,di Xiao,CHN,male,1991-05-14,1.85,100.0,wrestling,0.0,0.0,0.0,NaN
11536,900065925,le Quoc Toan Tran,VIE,male,1989-04-05,1.60,56.0,weightlifting,0.0,0.0,0.0,NaN
11537,711404576,le Roux Hamman,RSA,male,1992-01-06,1.85,70.0,athletics,0.0,0.0,0.0,NaN

In [3]:
rio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11538 entries, 0 to 11537
Data columns (total 12 columns):
id               11538 non-null object
name             11406 non-null object
nationality      11406 non-null object
sex              11406 non-null object
date_of_birth    11406 non-null object
height           11077 non-null float64
weight           10755 non-null float64
sport            11406 non-null object
gold             11406 non-null float64
silver           11406 non-null float64
bronze           11406 non-null float64
info             0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ MB

In [8]:
rio_country = rio.groupby('nationality').aggregate({'height':'mean','weight':'mean','gold':'sum','silver':'sum',
                                     'bronze':'sum'})

In [16]:
rio_country.eval('medals = gold + silver + bronze',inplace=True) 
rio_country

               height     weight   gold  silver  bronze  medals
nationality
USA          1.787251  74.300935  117.0    51.0    67.0   235.0
GER          1.789931  74.144186   46.0    43.0    66.0   155.0
GBR          1.773764  72.610951   56.0    54.0    25.0   135.0
RUS          1.780333  71.633205   47.0    28.0    34.0   109.0
CHN          1.762386  69.464752   42.0    28.0    34.0   104.0
...               ...        ...    ...     ...     ...     ...
IVB          1.650000  69.000000    0.0     0.0     0.0     0.0
KGZ          1.716111  72.647059    0.0     0.0     0.0     0.0
KIR          1.630000  73.666667    0.0     0.0     0.0     0.0
ALB          1.761667  67.333333    0.0     0.0     0.0     0.0
ZIM          1.676000  62.657143    0.0     0.0     0.0     0.0

[207 rows x 6 columns]

In [17]:
rio_country.sort_values('medals', ascending= False, inplace = True)

In [18]:
rio_country.to_csv('../../Sources/rio_clean.csv', sep=",")