In [58]:
import pandas as pd

In [59]:
names = pd.read_csv("table_1", index_col = "Unnamed: 0")

In [60]:
profiles = pd.read_csv("table4", index_col = "Unnamed: 0")

In [61]:
names.head() #Checking that the table has been correctly imported

                       Athlete Name      IDs
0                  Riejanne  Markus  1646454
1         JosÃ© M. Gutierrez "Gallu"  4106343
2       Johannes Weber #Radsyndikat  2647704
3                Sam (BigUnit) Long  6478752
4  John Kenny (French Creek Racing)   777443

In [62]:
profiles.head() #Checking that the table has been correctly imported

       IDs  Times training the last 6 weeks  Followers  Following
0  1646454                                6       1449         93
1  4106343                               20        631         88
2  2647704                                0        240         72
3  6478752                               23       2069         47
4   777443                                9        836        298

In [63]:
len(names) #Checking that both tables have the same entries

1956

In [64]:
len(profiles)

1956

In [65]:
dataframe = pd.merge(names,profiles,on='IDs',how='left')

In [66]:
dataframe #merged dataframe using the IDs columns.

,Athlete Name,IDs,Times training the last 6 weeks,Followers,Following
0,Riejanne Markus,1646454,6,1449,93
1,"JosÃ© M. Gutierrez ""Gallu""",4106343,20,631,88
2,Johannes Weber #Radsyndikat,2647704,0,240,72
3,Sam (BigUnit) Long,6478752,23,2069,47
4,John Kenny (French Creek Racing),777443,9,836,298
...,...,...,...,...,...
4563,Amity ðŸŒž,1004493,0,4849,16
4564,Amity ðŸŒž,1004493,0,4849,16
4565,John Ellis ðŸŒª T8.run,6136,15,640,201
4566,John Ellis ðŸŒª T8.run,6136,15,640,201
4567,John Ellis ðŸŒª T8.run,6136,15,640,201

In [67]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4568 entries, 0 to 4567
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Athlete Name                     4568 non-null   object
 1   IDs                              4568 non-null   int64
 2   Times training the last 6 weeks  4568 non-null   int64
 3   Followers                        4568 non-null   int64
 4   Following                        4568 non-null   int64
dtypes: int64(4), object(1)
memory usage: 214.1+ KB

In [71]:
dataframe_copy = dataframe.drop_duplicates(subset ="IDs", 
                     keep = False)

In [79]:
dataframe_copy["Ranking"] = [number for number in range(1,554)]

<ipython-input-79-d9d6233216ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe_copy["Ranking"] = [number for number in range(1,554)]

In [80]:
dataframe_copy

,Athlete Name,IDs,Times training the last 6 weeks,Followers,Following,Ranking
0,Riejanne Markus,1646454,6,1449,93,1
1,"JosÃ© M. Gutierrez ""Gallu""",4106343,20,631,88,2
2,Johannes Weber #Radsyndikat,2647704,0,240,72,3
3,Sam (BigUnit) Long,6478752,23,2069,47,4
4,John Kenny (French Creek Racing),777443,9,836,298,5
...,...,...,...,...,...,...
1951,Alex Luhrs | Team Ribble,409358,0,323,70,549
1952,Sindre SkjÃ¸stad Lunke,787499,0,1209,189,550
1953,Sion Lupowitz,6724983,14,444,191,551
1954,Alexey Lutsenko,19220743,0,5176,16,552
1955,Matt Lyons,130052,0,98,23,553

In [81]:
dataframe_final = dataframe_copy

In [82]:
dataframe_final.to_csv("Ranking")