## Some questions we want to answer are:
- In which countries are these activities most popular?
- What is the average duration by type of activity and country?
- What seasonality do they show during the year?
- Are these activities affected by weather conditions?
- Most popular activity names
- Average calories burnt by activity per minute
- At what times of the day do people mostly practice them?
- Do these activities have an impact on people’s main health indicators?
- Is there any relation at all between the activity in each country and its performance in the olympic games?

In [4]:
import pandas as pd
import requests
import re 
import json 
from bs4 import BeautifulSoup as Soup

In [6]:
url = "https://www.strava.com/pros"

#let's request the info
page = requests.get(url)
soup = Soup(page.content, "html.parser")

In [13]:
#finding top countries from the pros 
top_profiles_countries = [element["alt"] for element in soup.select("div ul.pros")[0].select("div.location img")]

In [45]:
countries = list(top_profiles_countries[0:500])

In [17]:
#finding cities from the pros 
top_profiles_cities = [element.get_text() for element in soup.select("div ul.pros")[0].select("div.location img")]

In [40]:
cities = []
for i in top_profiles_cities:
    x = re.sub('\r?\n', '', i)
    cities.append(x)

#now we hace the cities also.    
cities = cities[0:500]

In [41]:
#let's try to access the info from the list of top profiles of the 10 first profiles

list_ids = [['1646454'],
 ['4106343'],
 ['2647704'],
 ['6478752'],
 ['777443'],
 ['49435'],
 ['512006'],
 ['12391650'],
 ['521455'],
 ['442229'],
 ['3725855'],
 ['3264865'],
 ['6049681'],
 ['2683308'],
 ['3943346'],
 ['404453'],
 ['580379'],
 ['2392384'],
 ['30850647'],
 ['5678008'],
 ['3647498'],
 ['19005138'],
 ['4328340'],
 ['40301325'],
 ['19598841'],
 ['12274527'],
 ['6390713'],
 ['577221'],
 ['7911'],
 ['367986'],
 ['5995129'],
 ['9855605'],
 ['3488983'],
 ['780854'],
 ['9583401'],
 ['437111'],
 ['703497'],
 ['153405'],
 ['1815358'],
 ['75059'],
 ['11547310'],
 ['21279725'],
 ['607930'],
 ['4341119'],
 ['3531948'],
 ['4601735'],
 ['12542977'],
 ['6577144'],
 ['4367'],
 ['2346552'],
 ['12463091'],
 ['13008634'],
 ['5181895'],
 ['19446526'],
 ['10981713'],
 ['3184585'],
 ['119430'],
 ['153266'],
 ['814043'],
 ['1190875'],
 ['1116542'],
 ['1424847'],
 ['2276607'],
 ['119084'],
 ['1693393'],
 ['1058766'],
 ['6672449'],
 ['4125056'],
 ['46346'],
 ['175729'],
 ['2192184'],
 ['28635374'],
 ['2838132'],
 ['733569'],
 ['8169908'],
 ['0'],
 ['463703'],
 ['374972'],
 ['353839'],
 ['1352081'],
 ['5696180'],
 ['3274076'],
 ['2092693'],
 ['307920'],
 ['3581417'],
 ['14523979'],
 ['7059429'],
 ['13351004'],
 ['11372910'],
 ['1752526'],
 ['751177'],
 ['23726463'],
 ['12894945'],
 ['111848'],
 ['10403487'],
 ['1450761'],
 ['125384'],
 ['3538608'],
 ['3943249'],
 ['18888902'],
 ['6163411'],
 ['6766614'],
 ['5542262'],
 ['1423405'],
 ['58172312'],
 ['1630132'],
 ['722861'],
 ['14152612'],
 ['8015692'],
 ['5357983'],
 ['831403'],
 ['13187895'],
 ['7506715'],
 ['1185614'],
 ['622396'],
 ['38306342'],
 ['3018523'],
 ['1739915'],
 ['1029360'],
 ['2217800'],
 ['5283242'],
 ['855359'],
 ['24634813'],
 ['53080157'],
 ['3123584'],
 ['253307'],
 ['194967'],
 ['669526'],
 ['680794'],
 ['1205126'],
 ['2712905'],
 ['180306'],
 ['2860387'],
 ['4050731'],
 ['1450653'],
 ['721704'],
 ['370256'],
 ['2508843'],
 ['1176964'],
 ['880187'],
 ['1128302'],
 ['16845839'],
 ['6068080'],
 ['2119306'],
 ['1903938'],
 ['20732635'],
 ['9588583'],
 ['186270'],
 ['2168270'],
 ['16874183'],
 ['5250418'],
 ['356100'],
 ['13674'],
 ['796670'],
 ['1554175'],
 ['518177'],
 ['3211284'],
 ['2916501'],
 ['2921196'],
 ['18324312'],
 ['1920469'],
 ['1899939'],
 ['280069'],
 ['9045255'],
 ['10916298'],
 ['77012'],
 ['5255567'],
 ['1962573'],
 ['9474525'],
 ['8692276'],
 ['7163184'],
 ['403508'],
 ['4333333'],
 ['1636003'],
 ['4276305'],
 ['1967043'],
 ['55294538'],
 ['199550'],
 ['588876'],
 ['2261653'],
 ['1277361'],
 ['434588'],
 ['3689012'],
 ['4018952'],
 ['5020615'],
 ['6998219'],
 ['4415986'],
 ['26475512'],
 ['408163'],
 ['19959682'],
 ['116360'],
 ['534744'],
 ['262535'],
 ['11173354'],
 ['104028'],
 ['14201933'],
 ['7331365'],
 ['48143759'],
 ['1993533'],
 ['1596921'],
 ['2439361'],
 ['566272'],
 ['174554'],
 ['8185401'],
 ['12649'],
 ['4947657'],
 ['904463'],
 ['3213884'],
 ['1185893'],
 ['109652'],
 ['1676111'],
 ['24873491'],
 ['2371741'],
 ['1170160'],
 ['4488376'],
 ['983595'],
 ['12369637'],
 ['23292014'],
 ['10107550'],
 ['1659405'],
 ['269159'],
 ['180302'],
 ['7177418'],
 ['4208437'],
 ['3331857'],
 ['2032644'],
 ['2055620'],
 ['1084629'],
 ['358505'],
 ['16199194'],
 ['1440561'],
 ['3393851'],
 ['259470'],
 ['5734554'],
 ['2988750'],
 ['3455869'],
 ['7519999'],
 ['160423'],
 ['621446'],
 ['263407'],
 ['1352209'],
 ['15666824'],
 ['40799987'],
 ['11590312'],
 ['11268090'],
 ['2685219'],
 ['994476'],
 ['268080'],
 ['1338681'],
 ['4520390'],
 ['12274525'],
 ['1803986'],
 ['6182131'],
 ['7759903'],
 ['292369'],
 ['2542098'],
 ['2485651'],
 ['5198371'],
 ['26218743'],
 ['1805247'],
 ['3966534'],
 ['1771467'],
 ['1595767'],
 ['10941882'],
 ['7296868'],
 ['8619413'],
 ['391026'],
 ['7664988'],
 ['11328746'],
 ['2613903'],
 ['10030894'],
 ['5800810'],
 ['1044522'],
 ['502294'],
 ['3621170'],
 ['4084289'],
 ['1993938'],
 ['3983729'],
 ['3490359'],
 ['2203430'],
 ['247602'],
 ['323461'],
 ['17418861'],
 ['17896084'],
 ['1215177'],
 ['25360948'],
 ['605881'],
 ['365214'],
 ['3894557'],
 ['1641377'],
 ['5885524'],
 ['2136208'],
 ['3537233'],
 ['1634025'],
 ['2673148'],
 ['23390529'],
 ['1837113'],
 ['2802602'],
 ['7842901'],
 ['3576629'],
 ['7926'],
 ['1685461'],
 ['29028250'],
 ['20904837'],
 ['1803841'],
 ['433483'],
 ['4980290'],
 ['127134'],
 ['2332012'],
 ['16587179'],
 ['22661048'],
 ['1401687'],
 ['4211995'],
 ['174377'],
 ['19390398'],
 ['385236'],
 ['2756482'],
 ['39645987'],
 ['1585913'],
 ['682592'],
 ['3422120'],
 ['2795232'],
 ['1745119'],
 ['2195078'],
 ['2355427'],
 ['8442261'],
 ['7604023'],
 ['30774960'],
 ['1833090'],
 ['4179022'],
 ['6408626'],
 ['3896468'],
 ['7029099'],
 ['12725597'],
 ['6916597'],
 ['1690724'],
 ['1766105'],
 ['1292406'],
 ['65548'],
 ['510477'],
 ['1789488'],
 ['9776534'],
 ['3382044'],
 ['259263'],
 ['252591'],
 ['2195719'],
 ['6075'],
 ['10801400'],
 ['2566534'],
 ['9206937'],
 ['9651351'],
 ['18780'],
 ['3725963'],
 ['602548'],
 ['693488'],
 ['14882856'],
 ['134944'],
 ['328796'],
 ['12019441'],
 ['1381523'],
 ['7827514'],
 ['909835'],
 ['11970660'],
 ['229617'],
 ['591482'],
 ['1785446'],
 ['14169827'],
 ['7173167'],
 ['1872175'],
 ['175644'],
 ['3550300'],
 ['337980'],
 ['568077'],
 ['1768350'],
 ['204658'],
 ['24439684'],
 ['636992'],
 ['146497'],
 ['3283509'],
 ['666711'],
 ['289544'],
 ['808429'],
 ['205996'],
 ['2956675'],
 ['1855274'],
 ['5052874'],
 ['19021'],
 ['1644858'],
 ['2327652'],
 ['2014488'],
 ['10036272'],
 ['428395'],
 ['9545283'],
 ['3664016'],
 ['5501879'],
 ['4049155'],
 ['8064750'],
 ['1316021'],
 ['1129713'],
 ['402858'],
 ['538528'],
 ['1591473'],
 ['994016'],
 ['19308295'],
 ['10781349'],
 ['1763504'],
 ['9422127'],
 ['1023781'],
 ['1154552'],
 ['2916067'],
 ['4587013'],
 ['2296316'],
 ['2004239'],
 ['12853663'],
 ['1547189'],
 ['2445348'],
 ['1737657'],
 ['1050589'],
 ['1073667'],
 ['440827'],
 ['1931694'],
 ['3423315'],
 ['2640526'],
 ['211413'],
 ['590648'],
 ['588273'],
 ['4883986'],
 ['3949717'],
 ['21507495'],
 ['7830934'],
 ['36603030'],
 ['3470393'],
 ['403554'],
 ['9893449'],
 ['7641477'],
 ['3407398'],
 ['3366198'],
 ['2403364'],
 ['1675871'],
 ['12427912'],
 ['12234'],
 ['3310687'],
 ['17175025'],
 ['3167729'],
 ['8290776'],
 ['33496976'],
 ['7941156'],
 ['19966183'],
 ['12508208'],
 ['276702'],
 ['1284150'],
 ['8819545'],
 ['4420357'],
 ['4537138'],
 ['197768'],
 ['505408'],
 ['190450'],
 ['7542'],
 ['53624'],
 ['1786916'],
 ['286373'],
 ['118366'],
 ['3114986'],
 ['3378627'],
 ['1496487'],
 ['1709131'],
 ['3489981'],
 ['2191893'],
 ['290941'],
 ['8423781'],
 ['602594'],
 ['1005431'],
 ['7861437'],
 ['299812'],
 ['1015976'],
 ['3496685'],
 ['8712826'],
 ['220010'],
 ['216215'],
 ['1621202'],
 ['153628'],
 ['1915664'],
 ['3745308'],
 ['1563189'],
 ['11678773'],
 ['47326207'],
 ['601836'],
 ['142174'],
 ['6140171'],
 ['1387645'],
 ['2613513'],
 ['1861424'],
 ['5196764'],
 ['186606'],
 ['4838660'],
 ['2809783'],
 ['893403'],
 ['26891889'],
 ['225425'],
 ['180301']]

In [46]:
len(list_ids)
len(cities)
len(countries)

500

In [47]:
#Let's now create a Dataframe with all these info. 

top_countries = pd.DataFrame({"id": list_ids,"Countries": countries, "Cities":cities})

In [53]:
df_2 = top_countries.groupby(["Countries","Cities"]).count()

                                       id
Countries     Cities
Andorra                                 1
              El Tarter, Andorra        1
              La Massana, La Massana    1
              Rennes, Bretagne          1
Australia                               1
...                                    ..
United States Weymouth, Massachusetts   1
              Whitefish, Montana        1
              Winona, MN                1
              inzinzac, Bretagne        1
              victoria , BC             1

[420 rows x 1 columns]

In [ ]:
df_2 = sort_values(by='col1', ascending=False, na_position='first')